<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/datetimepicker.css" rel="stylesheet">
</head>
<!-- no need to use ng-app attribute here as we are bootstrapping AngularJS after Google Chart API is loaded -->
<body ng-controller="PieChartCtrl">

    <form>
        <div class="input-append date form_datetime">
            <input size="16" type="text" value="" readonly fromdatetimepicker="fromTimestamp">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        FROM {{fromTimestamp}}
        <div class="input-append date form_datetime">
            <input size="16" type="text" value="" readonly todatetimepicker="toTimestamp">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        TO {{toTimestamp}}
        <select ng-model="environment">
            <option value="prod">Production</option>
            <option value="stagea">StageA</option>
            <option value="stageb">StageB</option>
        </select>
        <!-- No need to use {{}} around "environment" http://goo.gl/Lhfx0-->
        <button ng-click="getRequestTypeData('wp_access_log', environment)">Report!</button>
    </form>
    <pie-chart data="chartData" title="Request Types"
                   width="500" height="320"
                   select="selectRow(selectedRowIndex)"></pie-chart>
    {{chartData}}
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript" src="/js/wala.js"></script>

    <script type="text/javascript">
        // initialise angular after gapi is loaded
        google.setOnLoadCallback(function () {
            angular.bootstrap(document, ['wala']);
        });
        google.load('visualization', '1', {packages:['corechart']});
    </script>
</body>
</html>